USE [master]
GO
/****** Object:  Database [Furniture16]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE DATABASE [Furniture16]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Furniture16', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Furniture16.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Furniture16_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Furniture16_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Furniture16].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Furniture16]
GO
/****** Object:  User [AdminITI]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE USER [AdminITI] FOR LOGIN [AdminITI] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [AdminITI]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [AdminITI]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [AdminITI]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [AdminITI]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [AdminITI]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AdminITI]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AdminITI]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [AdminITI]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [AdminITI]
GO
/****** Object:  Schema [HR]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE SCHEMA [HR]
GO
/****** Object:  Schema [Inventory]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE SCHEMA [Inventory]
GO
/****** Object:  Schema [Logistics]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE SCHEMA [Logistics]
GO
/****** Object:  Schema [Production]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE SCHEMA [Production]
GO
/****** Object:  Schema [Sales]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE SCHEMA [Sales]
GO
/****** Object:  Table [Sales].[Clients]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](200) NOT NULL,
	[ClientType] [nvarchar](50) NULL,
	[ContactPerson] [nvarchar](150) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ClientsContact] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[Products]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](200) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[Prod_Weight] [float] NULL,
	[Dim_Height] [float] NULL,
	[Dim_Width] [float] NULL,
	[Dim_Depth] [float] NULL,
	[CategoryID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[SalesOrders]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[SalesOrders](
	[SalesOrderID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[OrderDate] [date] NULL,
	[TotalRevenue] [decimal](18, 2) NULL,
	[BillingMethod] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Sales].[SalesOrderItems]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[SalesOrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuantityOrdered] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [Sales].[vw_SalesOrderSummary]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----views
CREATE   VIEW [Sales].[vw_SalesOrderSummary] AS
SELECT so.SalesOrderID, c.ClientName, p.ProductName, soi.QuantityOrdered, soi.UnitPrice
FROM Sales.SalesOrders so 
JOIN Sales.Clients c 
ON so.ClientID = c.ClientID
JOIN Sales.SalesOrderItems soi 
ON so.SalesOrderID = soi.SalesOrderID
JOIN Inventory.Products p 
ON soi.ProductID = p.ProductID;
GO
/****** Object:  Table [Logistics].[Locations]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Logistics].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](200) NULL,
	[AddressLine] [nvarchar](max) NOT NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[PhoneNUM] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Production].[SerialItems]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[SerialItems](
	[SerialNumber] [nvarchar](100) NOT NULL,
	[ProductID] [int] NULL,
	[SalesOrderID] [int] NULL,
	[DestinationLocationID] [int] NULL,
	[CurrentStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Production].[vw_ProductionStatus]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Production View: Live Production Status
CREATE   VIEW [Production].[vw_ProductionStatus] AS
SELECT si.SerialNumber, p.ProductName, si.CurrentStatus,l.City AS Destination
FROM Production.SerialItems si 
JOIN Inventory.Products p 
ON si.ProductID = p.ProductID
JOIN Logistics.Locations l 
ON si.DestinationLocationID = l.LocationID;
GO
/****** Object:  View [Sales].[vw_SalesSummary]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Sales View: Sales Summary with Calculated Column
CREATE   VIEW [Sales].[vw_SalesSummary] AS
SELECT so.SalesOrderID, c.ClientName, 
SUM(soi.QuantityOrdered * soi.UnitPrice) AS OrderTotal
FROM Sales.SalesOrders so 
JOIN Sales.Clients c 
ON so.ClientID = c.ClientID 
JOIN Sales.SalesOrderItems soi 
ON so.SalesOrderID = soi.SalesOrderID
GROUP BY so.SalesOrderID, c.ClientName;
GO
/****** Object:  Table [HR].[Departments]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Employees]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[SupervisorID] [int] NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[NationalID] [char](14) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[MaritalStatus] [nvarchar](20) NULL,
	[JobTitle] [nvarchar](100) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[EmergencyContactName] [nvarchar](150) NULL,
	[EmergencyContactPhone] [nvarchar](50) NULL,
	[BloodType] [char](3) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NationalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HR].[EmployeeSkills]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[EmployeeSkills](
	[EmployeeID] [int] NOT NULL,
	[SpecID] [int] NOT NULL,
	[CertificationDate] [date] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC,
	[SpecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Specializations]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Specializations](
	[SpecID] [int] IDENTITY(1,1) NOT NULL,
	[SpecName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[MaterialBatches]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[MaterialBatches](
	[BatchID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[PurchaseOrderID] [int] NULL,
	[QuantityReceived] [float] NOT NULL,
	[CurrentStockLevel] [float] NOT NULL,
	[EntryDate] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[ProductCategories]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[ProductCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[ProductDescriptions]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[ProductDescriptions](
	[DescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[DescriptionText] [nvarchar](max) NULL,
	[TechnicalSpecs] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[ProductPriceHistory]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[ProductPriceHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[OldPrice] [decimal](18, 2) NULL,
	[NewPrice] [decimal](18, 2) NULL,
	[ChangeDate] [datetime] NULL,
	[ChangedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[ProductRecipe]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[ProductRecipe](
	[ProductID] [int] NOT NULL,
	[MaterialID] [int] NOT NULL,
	[RequiredQty] [float] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[PurchaseOrders]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[PurchaseOrders](
	[PurchaseOrderID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[SourceLocationID] [int] NULL,
	[OrderDate] [date] NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[PaymentTerms] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[RawMaterials]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[RawMaterials](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](200) NOT NULL,
	[Materialcode] [nvarchar](50) NULL,
	[StockLevel] [float] NULL,
	[UnitOfMeasure] [nvarchar](20) NULL,
	[UnitCost] [decimal](18, 2) NULL,
	[IsRescued] [bit] NULL,
	[ReorderPoint] [float] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[StorageUnitCode] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[SupplierLocations]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[SupplierLocations](
	[SupplierID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[IsPrimary] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC,
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[Suppliers]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[SupplierCategory] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[SupplierContact] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Logistics].[DeliveryDrivers]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Logistics].[DeliveryDrivers](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[DriverName] [nvarchar](200) NOT NULL,
	[DriverType] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Logistics].[ShipmentTrips]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Logistics].[ShipmentTrips](
	[TripID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleDetails] [nvarchar](100) NULL,
	[DepartureDate] [datetime] NULL,
	[TripStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[TruckID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Logistics].[TripCargo]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Logistics].[TripCargo](
	[CargoID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NOT NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
	[DeliveryStatus] [nvarchar](50) NULL,
	[ArrivalTimestamp] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Logistics].[TripDrivers]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Logistics].[TripDrivers](
	[TripID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TripID] ASC,
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Logistics].[Trucks]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Logistics].[Trucks](
	[TruckID] [int] IDENTITY(1,1) NOT NULL,
	[TruckPlateNum] [nvarchar](20) NOT NULL,
	[Model] [nvarchar](100) NULL,
	[Brand] [nvarchar](50) NULL,
	[CapacityTons] [decimal](10, 2) NULL,
	[TruckLength] [decimal](10, 2) NULL,
	[TruckWidth] [decimal](10, 2) NULL,
	[TruckHeight] [decimal](10, 2) NULL,
	[OwnerType] [nvarchar](20) NULL,
	[LastServiceDate] [date] NULL,
	[InsuranceExpiry] [date] NULL,
	[GPS_DeviceID] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TruckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TruckPlateNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[MaintenanceLogs]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[MaintenanceLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[ServiceDate] [datetime] NOT NULL,
	[MaintenanceType] [nvarchar](100) NULL,
	[ServiceDetails] [nvarchar](max) NULL,
	[Cost] [decimal](18, 2) NULL,
	[NextServiceHours] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Production].[ToolAssets]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[ToolAssets](
	[AssetID] [int] IDENTITY(1,1) NOT NULL,
	[AssetName] [nvarchar](150) NOT NULL,
	[WorkshopID] [int] NULL,
	[CurrentTotalHours] [float] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[WorkOrderExecution]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[WorkOrderExecution](
	[ExecutionID] [int] IDENTITY(1,1) NOT NULL,
	[WorkOrderID] [int] NULL,
	[SerialNumber] [nvarchar](100) NULL,
	[EmployeeID] [int] NULL,
	[WorkshopID] [int] NULL,
	[AssetID] [int] NULL,
	[MaterialBatchID] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[ActualWaste] [float] NULL,
	[SalvagedAmount] [float] NULL,
	[ExecutionTimestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExecutionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[WorkOrders]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[WorkOrders](
	[WorkOrderID] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderID] [int] NULL,
	[ProductID] [int] NULL,
	[StepNumber] [int] NULL,
	[InstructionType] [nvarchar](100) NULL,
	[TaskDescription] [nvarchar](max) NULL,
	[BatchSize] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[PlannedStartDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Production].[Workshops]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[Workshops](
	[WorkshopID] [int] IDENTITY(1,1) NOT NULL,
	[UnitCode] [nvarchar](50) NOT NULL,
	[WorkshopType] [nvarchar](200) NULL,
	[SupervisorID] [int] NULL,
	[LocationID] [int] NULL,
	[DepartmentID] [int] NOT NULL,
	[InternalLocation] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkshopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UnitCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[WorkshopSpecializations]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[WorkshopSpecializations](
	[WorkshopSpecID] [int] IDENTITY(1,1) NOT NULL,
	[WorkshopID] [int] NOT NULL,
	[SpecID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkshopSpecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[ClientLocations]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[ClientLocations](
	[ClientID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[IsPrimary] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC,
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[InstallmentPlans]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[InstallmentPlans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceType] [nvarchar](20) NOT NULL,
	[PurchaseOrderID] [int] NULL,
	[SalesOrderID] [int] NULL,
	[TotalAmountWithInterest] [decimal](18, 2) NOT NULL,
	[TotalInstallments] [int] NOT NULL,
	[InterestRate] [decimal](18, 2) NULL,
	[StartDate] [date] NOT NULL,
	[PlanStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[OrderAudit]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[OrderAudit](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderID] [int] NULL,
	[ActionType] [varchar](20) NULL,
	[OldRevenue] [decimal](18, 2) NULL,
	[NewRevenue] [decimal](18, 2) NULL,
	[ChangedBy] [varchar](100) NULL,
	[ChangedDate] [datetime] NULL,
	[ChangeDetails] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Payments]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PlanID] [int] NULL,
	[PaymentCategory] [nvarchar](50) NOT NULL,
	[CashDirection] [nvarchar](20) NOT NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Employees_Department]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Employees_Department] ON [HR].[Employees]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_Employees_Department_Salary]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE NONCLUSTERED INDEX [idx_Employees_Department_Salary] ON [HR].[Employees]
(
	[DepartmentID] ASC,
	[Salary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Employees_Phone]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_Employees_Phone] ON [HR].[Employees]
(
	[Phone] ASC
)
WHERE ([Phone] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SupplierLocations_Location]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE NONCLUSTERED INDEX [IDX_SupplierLocations_Location] ON [Inventory].[SupplierLocations]
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Locations_City]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Locations_City] ON [Logistics].[Locations]
(
	[City] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TripCargo_Serial]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_TripCargo_Serial] ON [Logistics].[TripCargo]
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Maintenance_Asset_Date]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Maintenance_Asset_Date] ON [Production].[MaintenanceLogs]
(
	[AssetID] ASC,
	[ServiceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SerialItems_Serial]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_SerialItems_Serial] ON [Production].[SerialItems]
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SerialItems_Status]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_SerialItems_Status] ON [Production].[SerialItems]
(
	[CurrentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ClientLocations_Location]    Script Date: 2/14/2026 6:06:45 PM ******/
CREATE NONCLUSTERED INDEX [IDX_ClientLocations_Location] ON [Sales].[ClientLocations]
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [HR].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [HR].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [HR].[Departments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [HR].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [HR].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [HR].[Employees] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [HR].[EmployeeSkills] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [HR].[EmployeeSkills] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [HR].[Specializations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [HR].[Specializations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [HR].[Specializations] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Inventory].[MaterialBatches] ADD  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [Inventory].[MaterialBatches] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Inventory].[ProductCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Inventory].[ProductCategories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Inventory].[ProductCategories] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Inventory].[ProductDescriptions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Inventory].[ProductDescriptions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Inventory].[ProductDescriptions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Inventory].[ProductPriceHistory] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [Inventory].[ProductRecipe] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Inventory].[ProductRecipe] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Inventory].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Inventory].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Inventory].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Inventory].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [Inventory].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [TotalCost]
GO
ALTER TABLE [Inventory].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Inventory].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Inventory].[RawMaterials] ADD  DEFAULT ((0)) FOR [StockLevel]
GO
ALTER TABLE [Inventory].[RawMaterials] ADD  DEFAULT ((0)) FOR [IsRescued]
GO
ALTER TABLE [Inventory].[RawMaterials] ADD  DEFAULT ((10.0)) FOR [ReorderPoint]
GO
ALTER TABLE [Inventory].[RawMaterials] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Inventory].[RawMaterials] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Inventory].[RawMaterials] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Inventory].[SupplierLocations] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [Inventory].[SupplierLocations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Inventory].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Inventory].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Inventory].[Suppliers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Logistics].[DeliveryDrivers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Logistics].[DeliveryDrivers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Logistics].[DeliveryDrivers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Logistics].[Locations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Logistics].[Locations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Logistics].[Locations] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Logistics].[ShipmentTrips] ADD  DEFAULT ('Loading') FOR [TripStatus]
GO
ALTER TABLE [Logistics].[ShipmentTrips] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Logistics].[ShipmentTrips] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Logistics].[TripCargo] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Logistics].[TripCargo] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Logistics].[Trucks] ADD  DEFAULT ('Internal') FOR [OwnerType]
GO
ALTER TABLE [Logistics].[Trucks] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Logistics].[Trucks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Logistics].[Trucks] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Production].[MaintenanceLogs] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [Production].[MaintenanceLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Production].[MaintenanceLogs] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Production].[SerialItems] ADD  DEFAULT ('In-Production') FOR [CurrentStatus]
GO
ALTER TABLE [Production].[SerialItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Production].[SerialItems] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Production].[ToolAssets] ADD  DEFAULT ((0)) FOR [CurrentTotalHours]
GO
ALTER TABLE [Production].[ToolAssets] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Production].[ToolAssets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Production].[ToolAssets] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Production].[WorkOrderExecution] ADD  DEFAULT ((0)) FOR [ActualWaste]
GO
ALTER TABLE [Production].[WorkOrderExecution] ADD  DEFAULT ((0)) FOR [SalvagedAmount]
GO
ALTER TABLE [Production].[WorkOrderExecution] ADD  DEFAULT (getdate()) FOR [ExecutionTimestamp]
GO
ALTER TABLE [Production].[WorkOrders] ADD  DEFAULT ((1)) FOR [StepNumber]
GO
ALTER TABLE [Production].[WorkOrders] ADD  DEFAULT ('Planned') FOR [Status]
GO
ALTER TABLE [Production].[WorkOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Production].[WorkOrders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Production].[Workshops] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Production].[Workshops] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Production].[Workshops] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Production].[WorkshopSpecializations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Production].[WorkshopSpecializations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Production].[WorkshopSpecializations] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Sales].[ClientLocations] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [Sales].[ClientLocations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Sales].[Clients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Sales].[Clients] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Sales].[Clients] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Sales].[InstallmentPlans] ADD  DEFAULT ((0)) FOR [InterestRate]
GO
ALTER TABLE [Sales].[InstallmentPlans] ADD  DEFAULT ('Active') FOR [PlanStatus]
GO
ALTER TABLE [Sales].[InstallmentPlans] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Sales].[InstallmentPlans] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Sales].[OrderAudit] ADD  DEFAULT (getdate()) FOR [ChangedDate]
GO
ALTER TABLE [Sales].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [Sales].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Sales].[SalesOrderItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Sales].[SalesOrderItems] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Sales].[SalesOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [Sales].[SalesOrders] ADD  DEFAULT ((0)) FOR [TotalRevenue]
GO
ALTER TABLE [Sales].[SalesOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Sales].[SalesOrders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [HR].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [HR].[Departments] ([DepartmentID])
GO
ALTER TABLE [HR].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [HR].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Supervisors] FOREIGN KEY([SupervisorID])
REFERENCES [HR].[Employees] ([EmployeeID])
GO
ALTER TABLE [HR].[Employees] CHECK CONSTRAINT [FK_Employees_Supervisors]
GO
ALTER TABLE [HR].[EmployeeSkills]  WITH CHECK ADD  CONSTRAINT [FK_EmpSkills_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [HR].[Employees] ([EmployeeID])
GO
ALTER TABLE [HR].[EmployeeSkills] CHECK CONSTRAINT [FK_EmpSkills_Employees]
GO
ALTER TABLE [HR].[EmployeeSkills]  WITH CHECK ADD  CONSTRAINT [FK_EmpSkills_Specs] FOREIGN KEY([SpecID])
REFERENCES [HR].[Specializations] ([SpecID])
GO
ALTER TABLE [HR].[EmployeeSkills] CHECK CONSTRAINT [FK_EmpSkills_Specs]
GO
ALTER TABLE [Inventory].[MaterialBatches]  WITH CHECK ADD  CONSTRAINT [FK_Batches_Materials] FOREIGN KEY([MaterialID])
REFERENCES [Inventory].[RawMaterials] ([MaterialID])
GO
ALTER TABLE [Inventory].[MaterialBatches] CHECK CONSTRAINT [FK_Batches_Materials]
GO
ALTER TABLE [Inventory].[MaterialBatches]  WITH CHECK ADD  CONSTRAINT [FK_Batches_PO] FOREIGN KEY([PurchaseOrderID])
REFERENCES [Inventory].[PurchaseOrders] ([PurchaseOrderID])
GO
ALTER TABLE [Inventory].[MaterialBatches] CHECK CONSTRAINT [FK_Batches_PO]
GO
ALTER TABLE [Inventory].[ProductDescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Desc_Products] FOREIGN KEY([ProductID])
REFERENCES [Inventory].[Products] ([ProductID])
GO
ALTER TABLE [Inventory].[ProductDescriptions] CHECK CONSTRAINT [FK_Desc_Products]
GO
ALTER TABLE [Inventory].[ProductPriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_PriceHistory_Products] FOREIGN KEY([ProductID])
REFERENCES [Inventory].[Products] ([ProductID])
GO
ALTER TABLE [Inventory].[ProductPriceHistory] CHECK CONSTRAINT [FK_PriceHistory_Products]
GO
ALTER TABLE [Inventory].[ProductRecipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Materials] FOREIGN KEY([MaterialID])
REFERENCES [Inventory].[RawMaterials] ([MaterialID])
GO
ALTER TABLE [Inventory].[ProductRecipe] CHECK CONSTRAINT [FK_Recipe_Materials]
GO
ALTER TABLE [Inventory].[ProductRecipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Products] FOREIGN KEY([ProductID])
REFERENCES [Inventory].[Products] ([ProductID])
GO
ALTER TABLE [Inventory].[ProductRecipe] CHECK CONSTRAINT [FK_Recipe_Products]
GO
ALTER TABLE [Inventory].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [Inventory].[ProductCategories] ([CategoryID])
GO
ALTER TABLE [Inventory].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [Inventory].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PO_Location] FOREIGN KEY([SourceLocationID])
REFERENCES [Logistics].[Locations] ([LocationID])
GO
ALTER TABLE [Inventory].[PurchaseOrders] CHECK CONSTRAINT [FK_PO_Location]
GO
ALTER TABLE [Inventory].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PO_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [Inventory].[Suppliers] ([SupplierID])
GO
ALTER TABLE [Inventory].[PurchaseOrders] CHECK CONSTRAINT [FK_PO_Suppliers]
GO
ALTER TABLE [Inventory].[SupplierLocations]  WITH CHECK ADD  CONSTRAINT [FK_SuppLoc_Locations] FOREIGN KEY([LocationID])
REFERENCES [Logistics].[Locations] ([LocationID])
GO
ALTER TABLE [Inventory].[SupplierLocations] CHECK CONSTRAINT [FK_SuppLoc_Locations]
GO
ALTER TABLE [Inventory].[SupplierLocations]  WITH CHECK ADD  CONSTRAINT [FK_SuppLoc_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [Inventory].[Suppliers] ([SupplierID])
GO
ALTER TABLE [Inventory].[SupplierLocations] CHECK CONSTRAINT [FK_SuppLoc_Suppliers]
GO
ALTER TABLE [Logistics].[TripCargo]  WITH CHECK ADD  CONSTRAINT [FK_Cargo_Serial] FOREIGN KEY([SerialNumber])
REFERENCES [Production].[SerialItems] ([SerialNumber])
GO
ALTER TABLE [Logistics].[TripCargo] CHECK CONSTRAINT [FK_Cargo_Serial]
GO
ALTER TABLE [Logistics].[TripCargo]  WITH CHECK ADD  CONSTRAINT [FK_Cargo_Trip] FOREIGN KEY([TripID])
REFERENCES [Logistics].[ShipmentTrips] ([TripID])
GO
ALTER TABLE [Logistics].[TripCargo] CHECK CONSTRAINT [FK_Cargo_Trip]
GO
ALTER TABLE [Logistics].[TripDrivers]  WITH CHECK ADD  CONSTRAINT [FK_TripDrivers_Driver] FOREIGN KEY([DriverID])
REFERENCES [Logistics].[DeliveryDrivers] ([DriverID])
GO
ALTER TABLE [Logistics].[TripDrivers] CHECK CONSTRAINT [FK_TripDrivers_Driver]
GO
ALTER TABLE [Logistics].[TripDrivers]  WITH CHECK ADD  CONSTRAINT [FK_TripDrivers_Trip] FOREIGN KEY([TripID])
REFERENCES [Logistics].[ShipmentTrips] ([TripID])
GO
ALTER TABLE [Logistics].[TripDrivers] CHECK CONSTRAINT [FK_TripDrivers_Trip]
GO
ALTER TABLE [Production].[MaintenanceLogs]  WITH CHECK ADD  CONSTRAINT [FK_Maint_Assets] FOREIGN KEY([AssetID])
REFERENCES [Production].[ToolAssets] ([AssetID])
GO
ALTER TABLE [Production].[MaintenanceLogs] CHECK CONSTRAINT [FK_Maint_Assets]
GO
ALTER TABLE [Production].[MaintenanceLogs]  WITH CHECK ADD  CONSTRAINT [FK_Maint_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [HR].[Employees] ([EmployeeID])
GO
ALTER TABLE [Production].[MaintenanceLogs] CHECK CONSTRAINT [FK_Maint_Employees]
GO
ALTER TABLE [Production].[SerialItems]  WITH NOCHECK ADD  CONSTRAINT [FK_Serial_DestLoc] FOREIGN KEY([DestinationLocationID])
REFERENCES [Logistics].[Locations] ([LocationID])
GO
ALTER TABLE [Production].[SerialItems] NOCHECK CONSTRAINT [FK_Serial_DestLoc]
GO
ALTER TABLE [Production].[SerialItems]  WITH NOCHECK ADD  CONSTRAINT [FK_Serial_Products] FOREIGN KEY([ProductID])
REFERENCES [Inventory].[Products] ([ProductID])
GO
ALTER TABLE [Production].[SerialItems] NOCHECK CONSTRAINT [FK_Serial_Products]
GO
ALTER TABLE [Production].[SerialItems]  WITH NOCHECK ADD  CONSTRAINT [FK_Serial_SalesOrders] FOREIGN KEY([SalesOrderID])
REFERENCES [Sales].[SalesOrders] ([SalesOrderID])
GO
ALTER TABLE [Production].[SerialItems] NOCHECK CONSTRAINT [FK_Serial_SalesOrders]
GO
ALTER TABLE [Production].[ToolAssets]  WITH CHECK ADD  CONSTRAINT [FK_ToolAssets_Workshops] FOREIGN KEY([WorkshopID])
REFERENCES [Production].[Workshops] ([WorkshopID])
GO
ALTER TABLE [Production].[ToolAssets] CHECK CONSTRAINT [FK_ToolAssets_Workshops]
GO
ALTER TABLE [Production].[WorkOrderExecution]  WITH CHECK ADD  CONSTRAINT [FK_Exec_Assets] FOREIGN KEY([AssetID])
REFERENCES [Production].[ToolAssets] ([AssetID])
GO
ALTER TABLE [Production].[WorkOrderExecution] CHECK CONSTRAINT [FK_Exec_Assets]
GO
ALTER TABLE [Production].[WorkOrderExecution]  WITH CHECK ADD  CONSTRAINT [FK_Exec_Batch] FOREIGN KEY([MaterialBatchID])
REFERENCES [Inventory].[MaterialBatches] ([BatchID])
GO
ALTER TABLE [Production].[WorkOrderExecution] CHECK CONSTRAINT [FK_Exec_Batch]
GO
ALTER TABLE [Production].[WorkOrderExecution]  WITH CHECK ADD  CONSTRAINT [FK_Exec_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [HR].[Employees] ([EmployeeID])
GO
ALTER TABLE [Production].[WorkOrderExecution] CHECK CONSTRAINT [FK_Exec_Employees]
GO
ALTER TABLE [Production].[WorkOrderExecution]  WITH CHECK ADD  CONSTRAINT [FK_Exec_Serial] FOREIGN KEY([SerialNumber])
REFERENCES [Production].[SerialItems] ([SerialNumber])
GO
ALTER TABLE [Production].[WorkOrderExecution] CHECK CONSTRAINT [FK_Exec_Serial]
GO
ALTER TABLE [Production].[WorkOrderExecution]  WITH CHECK ADD  CONSTRAINT [FK_Exec_WO] FOREIGN KEY([WorkOrderID])
REFERENCES [Production].[WorkOrders] ([WorkOrderID])
GO
ALTER TABLE [Production].[WorkOrderExecution] CHECK CONSTRAINT [FK_Exec_WO]
GO
ALTER TABLE [Production].[WorkOrderExecution]  WITH CHECK ADD  CONSTRAINT [FK_Exec_Workshops] FOREIGN KEY([WorkshopID])
REFERENCES [Production].[Workshops] ([WorkshopID])
GO
ALTER TABLE [Production].[WorkOrderExecution] CHECK CONSTRAINT [FK_Exec_Workshops]
GO
ALTER TABLE [Production].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WO_Products] FOREIGN KEY([ProductID])
REFERENCES [Inventory].[Products] ([ProductID])
GO
ALTER TABLE [Production].[WorkOrders] CHECK CONSTRAINT [FK_WO_Products]
GO
ALTER TABLE [Production].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WO_SalesOrders] FOREIGN KEY([SalesOrderID])
REFERENCES [Sales].[SalesOrders] ([SalesOrderID])
GO
ALTER TABLE [Production].[WorkOrders] CHECK CONSTRAINT [FK_WO_SalesOrders]
GO
ALTER TABLE [Production].[Workshops]  WITH CHECK ADD  CONSTRAINT [FK_Workshops_Locations] FOREIGN KEY([LocationID])
REFERENCES [Logistics].[Locations] ([LocationID])
GO
ALTER TABLE [Production].[Workshops] CHECK CONSTRAINT [FK_Workshops_Locations]
GO
ALTER TABLE [Production].[Workshops]  WITH CHECK ADD  CONSTRAINT [FK_Workshops_Supervisor] FOREIGN KEY([SupervisorID])
REFERENCES [HR].[Employees] ([EmployeeID])
GO
ALTER TABLE [Production].[Workshops] CHECK CONSTRAINT [FK_Workshops_Supervisor]
GO
ALTER TABLE [Production].[WorkshopSpecializations]  WITH CHECK ADD  CONSTRAINT [FK_WS_Specs_SpecID] FOREIGN KEY([SpecID])
REFERENCES [HR].[Specializations] ([SpecID])
GO
ALTER TABLE [Production].[WorkshopSpecializations] CHECK CONSTRAINT [FK_WS_Specs_SpecID]
GO
ALTER TABLE [Production].[WorkshopSpecializations]  WITH CHECK ADD  CONSTRAINT [FK_WS_Specs_Workshop] FOREIGN KEY([WorkshopID])
REFERENCES [Production].[Workshops] ([WorkshopID])
GO
ALTER TABLE [Production].[WorkshopSpecializations] CHECK CONSTRAINT [FK_WS_Specs_Workshop]
GO
ALTER TABLE [Sales].[ClientLocations]  WITH CHECK ADD  CONSTRAINT [FK_ClientLoc_Clients] FOREIGN KEY([ClientID])
REFERENCES [Sales].[Clients] ([ClientID])
GO
ALTER TABLE [Sales].[ClientLocations] CHECK CONSTRAINT [FK_ClientLoc_Clients]
GO
ALTER TABLE [Sales].[ClientLocations]  WITH CHECK ADD  CONSTRAINT [FK_ClientLoc_Locations] FOREIGN KEY([LocationID])
REFERENCES [Logistics].[Locations] ([LocationID])
GO
ALTER TABLE [Sales].[ClientLocations] CHECK CONSTRAINT [FK_ClientLoc_Locations]
GO
ALTER TABLE [Sales].[InstallmentPlans]  WITH CHECK ADD  CONSTRAINT [FK_Plans_Purchase] FOREIGN KEY([PurchaseOrderID])
REFERENCES [Inventory].[PurchaseOrders] ([PurchaseOrderID])
GO
ALTER TABLE [Sales].[InstallmentPlans] CHECK CONSTRAINT [FK_Plans_Purchase]
GO
ALTER TABLE [Sales].[InstallmentPlans]  WITH CHECK ADD  CONSTRAINT [FK_Plans_Sales] FOREIGN KEY([SalesOrderID])
REFERENCES [Sales].[SalesOrders] ([SalesOrderID])
GO
ALTER TABLE [Sales].[InstallmentPlans] CHECK CONSTRAINT [FK_Plans_Sales]
GO
ALTER TABLE [Sales].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Plans] FOREIGN KEY([PlanID])
REFERENCES [Sales].[InstallmentPlans] ([PlanID])
GO
ALTER TABLE [Sales].[Payments] CHECK CONSTRAINT [FK_Payments_Plans]
GO
ALTER TABLE [Sales].[SalesOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_SOI_Order] FOREIGN KEY([SalesOrderID])
REFERENCES [Sales].[SalesOrders] ([SalesOrderID])
GO
ALTER TABLE [Sales].[SalesOrderItems] CHECK CONSTRAINT [FK_SOI_Order]
GO
ALTER TABLE [Sales].[SalesOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_SOI_Product] FOREIGN KEY([ProductID])
REFERENCES [Inventory].[Products] ([ProductID])
GO
ALTER TABLE [Sales].[SalesOrderItems] CHECK CONSTRAINT [FK_SOI_Product]
GO
ALTER TABLE [Sales].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SO_Clients] FOREIGN KEY([ClientID])
REFERENCES [Sales].[Clients] ([ClientID])
GO
ALTER TABLE [Sales].[SalesOrders] CHECK CONSTRAINT [FK_SO_Clients]
GO
/****** Object:  StoredProcedure [Inventory].[sp_AddMaterialBatch]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ADD NEW MATERIAL BATCH (Inventory Update)
CREATE   PROCEDURE [Inventory].[sp_AddMaterialBatch]
    @MaterialID INT,
    @PurchaseOrderID INT,
    @Qty FLOAT
AS
BEGIN
    -- Record the batch
    INSERT INTO Inventory.MaterialBatches (MaterialID, PurchaseOrderID, QuantityReceived, CurrentStockLevel)
    VALUES (@MaterialID, @PurchaseOrderID, @Qty, @Qty);

    -- Update main inventory stock
    UPDATE Inventory.RawMaterials
    SET StockLevel = StockLevel + @Qty
    WHERE MaterialID = @MaterialID;
END;
GO
/****** Object:  StoredProcedure [Inventory].[sp_AutoReorderMaterials]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. AUTOMATED INVENTORY REORDER SYSTEM
CREATE   PROCEDURE [Inventory].[sp_AutoReorderMaterials]
    @ReorderThreshold FLOAT = 20.0,
    @MaxOrderValue DECIMAL(18,2) = 50000.00,
    @DryRun BIT = 0  -- 1 = Preview, 0 = Execute
AS
BEGIN
    SET NOCOUNT ON;

    -- Temporary table for reorder recommendations
    CREATE TABLE #ReorderRecommendations (
        MaterialID INT,
        MaterialName NVARCHAR(255),
        CurrentStock FLOAT,
        RecommendedOrderQty INT,
        EstimatedCost DECIMAL(18,2),
        SupplierID INT,
        SupplierName NVARCHAR(255),
        PriorityLevel NVARCHAR(20)
    );
    
    -- Identify materials needing reorder
    INSERT INTO #ReorderRecommendations
    SELECT 
        rm.MaterialID,
        rm.MaterialName,
        rm.StockLevel,
        -- Logic: Order enough to reach threshold + buffer (rounded up to nearest 10)
        CEILING(((@ReorderThreshold * 2) - rm.StockLevel) / 10.0) * 10 AS RecommendedOrderQty,
        -- Cost Calculation
        (CEILING(((@ReorderThreshold * 2) - rm.StockLevel) / 10.0) * 10) * rm.UnitCost AS EstimatedCost,
        s.SupplierID,
        s.SupplierName,
        CASE 
            WHEN rm.StockLevel < 10 THEN 'CRITICAL'
            ELSE 'HIGH'
        END AS PriorityLevel
    FROM Inventory.RawMaterials rm
    -- Find a supplier (First match)
    CROSS APPLY (SELECT TOP 1 * FROM Inventory.Suppliers) s 
    WHERE rm.StockLevel < @ReorderThreshold;
    
    -- Show recommendations
    SELECT * FROM #ReorderRecommendations ORDER BY EstimatedCost DESC;
    
    -- Execute Orders (If not Dry Run)
    IF @DryRun = 0
    BEGIN
        DECLARE @MatID INT, @SupID INT, @Qty INT, @Cost DECIMAL(18,2);
        DECLARE @TotalCost DECIMAL(18,2) = 0;
        
        DECLARE reorder_cursor CURSOR FOR
        SELECT MaterialID, SupplierID, RecommendedOrderQty, EstimatedCost
        FROM #ReorderRecommendations
        ORDER BY PriorityLevel DESC;
        
        OPEN reorder_cursor;
        FETCH NEXT FROM reorder_cursor INTO @MatID, @SupID, @Qty, @Cost;
        
        WHILE @@FETCH_STATUS = 0 AND (@TotalCost + @Cost) <= @MaxOrderValue
        BEGIN
            -- Create Purchase Order
            DECLARE @POID INT;
            INSERT INTO Inventory.PurchaseOrders (SupplierID, OrderDate, TotalCost, PaymentTerms)
            VALUES (@SupID, GETDATE(), @Cost, 'Net 30');
            SET @POID = SCOPE_IDENTITY();

            -- Create Batch (Received 0 initially)
            INSERT INTO Inventory.MaterialBatches (MaterialID, PurchaseOrderID, QuantityReceived, CurrentStockLevel)
            VALUES (@MatID, @POID, 0, 0);
            
            PRINT 'Created PO #' + CAST(@POID AS VARCHAR) + ' for Material ' + CAST(@MatID AS VARCHAR);
            
            SET @TotalCost = @TotalCost + @Cost;
            FETCH NEXT FROM reorder_cursor INTO @MatID, @SupID, @Qty, @Cost;
        END
        
        CLOSE reorder_cursor;
        DEALLOCATE reorder_cursor;
    END
    
    DROP TABLE #ReorderRecommendations;
END;
GO
/****** Object:  StoredProcedure [Sales].[sp_CalcSalesOrderTotal]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CALCULATE SALES ORDER TOTAL
CREATE   PROCEDURE [Sales].[sp_CalcSalesOrderTotal] 
    @SalesOrderID INT
AS
BEGIN
    SELECT 
        @SalesOrderID AS OrderID, 
        SUM(QuantityOrdered * UnitPrice) AS TotalRevenue
    FROM Sales.SalesOrderItems
    WHERE SalesOrderID = @SalesOrderID;
END;
GO
/****** Object:  StoredProcedure [Sales].[sp_MonthlySalesReport]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- MONTHLY SALES REPORT
CREATE   PROCEDURE [Sales].[sp_MonthlySalesReport] 
    @Year INT, 
    @Month INT
AS
BEGIN
    SELECT SUM(soi.QuantityOrdered * soi.UnitPrice) AS TotalSales
    FROM Sales.SalesOrders so 
    JOIN Sales.SalesOrderItems soi ON so.SalesOrderID = soi.SalesOrderID
    WHERE YEAR(so.OrderDate) = @Year AND MONTH(so.OrderDate) = @Month;
END;
GO
/****** Object:  StoredProcedure [Sales].[sp_ProcessNewOrder]    Script Date: 2/14/2026 6:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----STORED PROCEDURES
CREATE   PROCEDURE [Sales].[sp_ProcessNewOrder]
    @ClientID INT,
    @ProductID INT,
    @Quantity INT,
    @BillingMethod NVARCHAR(50) = 'Standard', -- Replaces OrderType
    @LocationID INT = NULL,                   -- Replaces RouteID
    @SalesOrderID INT OUTPUT,
    @StatusMessage NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Validation 1: Check if client exists
        IF NOT EXISTS (SELECT 1 FROM Sales.Clients WHERE ClientID = @ClientID)
        BEGIN
            SET @StatusMessage = 'Error: Client does not exist';
            ROLLBACK TRANSACTION;
            RETURN -1;
        END
        
        -- Validation 2: Check if product exists and get price
        DECLARE @UnitPrice DECIMAL(18,2);
        SELECT @UnitPrice = BasePrice FROM Inventory.Products WHERE ProductID = @ProductID;

        IF @UnitPrice IS NULL
        BEGIN
            SET @StatusMessage = 'Error: Product does not exist';
            ROLLBACK TRANSACTION;
            RETURN -2;
        END
        
        -- Validation 3: Check material availability using Product Recipe
        DECLARE @MaterialShortage INT = 0;
        
        SELECT @MaterialShortage = COUNT(*)
        FROM Inventory.ProductRecipe pr
        JOIN Inventory.RawMaterials rm ON pr.MaterialID = rm.MaterialID
        WHERE pr.ProductID = @ProductID
          AND rm.StockLevel < (pr.RequiredQty * @Quantity);
        
        IF @MaterialShortage > 0
        BEGIN
            SET @StatusMessage = 'Warning: Insufficient materials for order. Production may be delayed.';
        END
        
        -- Create the Sales Order
        INSERT INTO Sales.SalesOrders (ClientID, OrderDate, BillingMethod, TotalRevenue)
        VALUES (@ClientID, GETDATE(), @BillingMethod, (@UnitPrice * @Quantity));
        
        SET @SalesOrderID = SCOPE_IDENTITY();
        
        -- Add Product to Order Items
        INSERT INTO Sales.SalesOrderItems (SalesOrderID, ProductID, QuantityOrdered, UnitPrice)
        VALUES (@SalesOrderID, @ProductID, @Quantity, @UnitPrice);
        
        -- Create Work Order (Production)
        INSERT INTO Production.WorkOrders (SalesOrderID, ProductID, BatchSize, InstructionType, Status)
        VALUES (@SalesOrderID, @ProductID, @Quantity, 'Standard', 'Pending');
        
        -- Link Location if provided (Logistics Prep)
        IF @LocationID IS NOT NULL
        BEGIN
            -- Ensure the location is linked to the client
            IF NOT EXISTS (SELECT 1 FROM Sales.ClientLocations WHERE ClientID = @ClientID AND LocationID = @LocationID)
            BEGIN
                INSERT INTO Sales.ClientLocations (ClientID, LocationID, IsPrimary)
                VALUES (@ClientID, @LocationID, 0);
            END
        END
        
        COMMIT TRANSACTION;
        
        IF @StatusMessage IS NULL OR @StatusMessage = ''
            SET @StatusMessage = 'Success: Sales Order ' + CAST(@SalesOrderID AS NVARCHAR) + ' created successfully.';
        
        RETURN 0;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SET @StatusMessage = 'Error: ' + ERROR_MESSAGE();
        RETURN -99;
    END CATCH
END;
GO
USE [master]
GO
